.menu-page {
    background-color: bisque;
}

.menu-lists {
    display: flex;
    justify-content: center;
    .menu-card {
        margin: 0 30px;
    }
    a {
        cursor: pointer;
    }
    .menu {
        text-align: center;
        .menu-image {
            width: 100%;
            height: 200px;
        }
    }
}
